* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", sans-serif;
}

body {
  position: relative;
  padding: 50px;
}

header {
  margin-bottom: 10px;
}

header h1 {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: black;
  text-shadow: -5px 15px rgba(0, 0, 0, 0.1);
}

header h1::before,
header h1::after {
  content: "★";
}

header div {
  height: 15vw;
  background: url("../img/design1_image1.jpg");
  background-size: cover;
  background-position: center;
}

header div:hover {
  background: url("../img/design1_image2.jpg");
  background-size: cover;
  background-position: center;
}

.pageTitle {
  position: absolute;
  width: 500px;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  transform: rotate(270deg);
  bottom: -215px;
  left: -65px;
}

.logo {
  position: absolute;
  top: 0;
  left: 50px;
  width: 150px;
}

.logo:hover {
  transform: scale(1.2);
}

.logo img {
  width: 100%;
}

nav,
main,
aside {
  display: inline-block;
  position: absolute;
  top: calc(25vw + 50px);
}

nav {
  position: absolute;
  top: 110px;
  left: 41vw;
  width: 20vw;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  color: rgb(110, 107, 253);
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

nav a[href="#"] {
  color: blue;
  font-weight: 700;
}

main {
  width: 40vw;
  left: calc(20vw + 50px);
}

main article {
  margin-bottom: 40px;
}

main article p {
  text-indent: 20px;
}

aside {
  width: 20vw;
  right: 50px;
}

aside img {
  width: 100%;
  margin: 0 auto;
}

.contact p {
  margin-bottom: 20px;
}
